{% extends "try/layout.html" %}
{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>

        <!-- Summary Cards-->
        {%- include 'try/mod_dashboard/cards.html' -%}

        <!-- File Upload Form -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-upload"></i> Upload New File
            </div>
            <div class="card-body">
                {%- include 'try/mod_dashboard/upload-form.html' -%}
            </div>
        </div>

    </div>
{% endblock %}
