{% extends "try/layout.html" %}

{% block head %}
    {{ super() }}
    <link href=" {{ url_for('static', filename='css/fileinput.min.css') }}" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/theme.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
         <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <!-- Summary Cards-->
        {%- include 'try/mod_dashboard/cards.html' -%}

        <!-- File Upload Form -->
        <!-- File Upload Form -->
        {%- include 'try/mod_dashboard/upload-form.html' -%}

        {%- include 'try/mod_dashboard/recent-queue-profile.html' -%}

        {%- include 'try/mod_dashboard/recent-files.html' -%}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/piexif.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.min.js') }}"></script>
{% endblock %}
