{% extends "try/layout.html" %}

{% block head %}
    {{ super() }}
    <link href=" {{ url_for('static', filename='css/fileinput.min.css') }}" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/theme.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>

        <!-- Summary Cards-->
        {%- include 'try/mod_dashboard/cards.html' -%}

        <!-- File Upload Form -->

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-upload"></i> <a data-toggle="collapse" data-target="#upload-panel">Upload New File <i class="fa fa-chevron-circle-down"></i></a>
            </div>
            <div id="upload-panel" class="collapse in">
                <div class="card-body">
                    {%- include 'try/mod_dashboard/upload-form.html' -%}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/piexif.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.min.js') }}"></script>
{% endblock %}
