{% block body %}
    <div class="card mb-3" style="margin-left: 15px; margin-right: 15px;">
        <div class="card-header">
            <i class="fa fa-upload"></i> <a data-toggle="collapse" data-target="#upload-panel">Upload New File <i class="fa fa-chevron-circle-down"></i></a>
        </div>
        <div id="upload-panel" class="collapse in">
            <div class="card-body">
                <form method="post" name="uploadForm" id="uploadForm" enctype=multipart/form-data action="{{ url_for('.dashboard', next=next) }}">
                    {{ form.csrf_token }}
                    <div class="">
                        <div class="">
                            {{ macros.render_field(form.file, id="file-upload" ) }}
                        </div>

                        <div class="panel-heading" style="float: left;">
                          <p class="panel-title">
                            <a data-toggle="collapse" href="#parameter-panel">Add Custom Parameters <i class="fa fa-chevron-circle-down"></i></a>
                          </p>
                        </div>

                        <div id="parameter-tip" style="float: right;"></div>

                        <div id="parameter-panel" class="panel-collapse collapse">
                            <div class="">
                                {{ macros.render_field(form.parameters, class_="form-control") }}
                            </div>

                            <div class="row" style="margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-5">
                                    <div class="card mb-3">
                                        <div class="card-footer small text-muted"> Suggestions : </div>
                                        <div class="card-body">
                                            <div id="suggestions"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="card mb-3">
                                        <div class="card-footer small text-muted"> Description :</div>
                                        <div class="card-body">
                                            <p id="parameter-description"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-heading" style="clear: both;">
                          <p class="panel-title">
                            <a data-toggle="collapse" href="#additional-parameter-panel">Additional Options <i class="fa fa-chevron-circle-down"></i></a>
                          </p>
                        </div>

                        <div id="additional-parameter-panel" class="panel-collapse collapse">
                            <div class="row" style="margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4">
                                    {{ form.ccextractor_version.label }}
                                    {{ macros.render_field(form.ccextractor_version, class_="form-control") }}
                                </div>
                                <div class="col-lg-4">
                                    {{ form.platforms.label }}
                                    {{ macros.render_field(form.platforms, class_="form-control") }}
                                </div>
                                <div class="col-lg-4">
                                    {{ form.remark.label }}
                                    {{ macros.render_field(form.remark, class_="form-control", rows='1') }}
                                </div>
                            </div>
                        </div>

                        <div class="row float-right">
                            <div style="padding-top: 5px;" >
                            {{ macros.render_field(form.start_processing, class_="checkbox") }}
                            </div>
                            <div class="col-lg-4">
                                 {{ macros.render_field(form.submit, class_="btn-xs btn btn-outline-primary") }}
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $("#file-upload").fileinput({
        theme: "explorer-fa",
        showUpload: false,
        showRemove: true,
        required: true,
        showClose: false,
        browseOnZoneClick: true
    });
});
</script>
{% endblock %}

{%- include 'mod_dashboard/parameters-autocomplete.html' -%}
