{% block body %}
    <div class="">
        <div class="">
            <p>Queue</p>
        </div>
    </div>

    {% for job in queued_files %}
        {{ job.id }} | {{ job.status.value }} | {{ job.filename }} |

        {% if job.status.value == 'completed' %}
            Output (
            <a href="serve/output/{{job.id}}" download>Download</a> ,
            <a href="serve/output/{{job.id}}/view">View</a> )
        {% endif %}

        {% if job.status.value != 'pending' %}
            Logs (
            <a href="serve/log/{{job.id}}" download>Download</a> ,
            <a href="serve/log/{{job.id}}/view">View</a> )
        {% endif %}

        <br>
    {% endfor %}
{% endblock %}
