{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link href=" {{ url_for('static', filename='css/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ details.dashboard_url }}">
                {% if details.admin_dashboard %}
                    Admin Dashboard
                {% else%}
                    Dashboard
                {% endif %}
                </a>
            </li>
             <li class="breadcrumb-item active">
                {% if details.admin_dashboard %}
                    Complete Queue
                {% else%}
                    My Queue
                {% endif %}
             </li>
        </ol>

        <!-- Summary Cards-->
        {%- include 'mod_dashboard/cards.html' -%}

         <div style="margin-right: 15px; margin-left: 15px;">
            <div class="card mb-3">
                <div class="card-header"><i class="fa fa-table"></i> Process Queue</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Job No.</th>
                                    <th>Filename</th>
                                    <th>Parameters</th>
                                    <th>Platform</th>
                                    <th>Status</th>
                                    {% if details.admin_dashboard %}
                                    <th>User ID</th>
                                    {% endif %}
                                    <th>Added</th>
                                    <th>Output</th>
                                    <th>Log</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Job No.</th>
                                    <th>Filename</th>
                                    <th>Parameters</th>
                                    <th>Platform</th>
                                    <th>Status</th>
                                    {% if details.admin_dashboard %}
                                    <th>User ID</th>
                                    {% endif %}
                                    <th>Added</th>
                                    <th>Output</th>
                                    <th>Log</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for job in details.queue %}
                                <tr>
                                    <td>
                                        <div class="row">

                                        {% if job.status.value == 'completed' %}
                                            {% set status_icon = '<i class="fa fa-check-square" style="color: green;" title="success"></i>' %}
                                        {% elif job.status.value == 'processing' %}
                                            {% set status_icon = '<i class="fa fa-cog" style="color: #ffba2b;" title="processing"></i>' %}
                                        {% elif job.status.value == 'pending' %}
                                            {% set status_icon = '<i class="fa fa-clock-o" style="color: #ffba2b;" title="pending"></i>' %}
                                        {% elif job.status.value == 'errored' %}
                                            {% set status_icon = '<i class="fa fa-warning" style="color: #2b87ff;" title="errored"></i>' %}
                                        {% endif %}

                                        <div class="col-lg-6">{{ job.id }}</div>
                                            <div class="col-lg-6">  {{ status_icon|safe }}</div>
                                        </div>

                                    </td>
                                    <td>{{ job.original_filename|truncate(40, True) }}</td>
                                    <td>{{ job.parameters}}</td>
                                    <td>{{ job.platform.value}}</td>
                                    <td>{{ job.status.value }}</td>
                                    {% if details.admin_dashboard %}
                                    <td>{{ job.added_by_user }}</td>
                                    {% endif %}
                                    <td>{{ job.queue_timestamp|timesince }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            {% if job.status.value != "completed" %}
                                                {% set disabled = "disabled" %}
                                            {% else %}
                                                {% set disabled = "" %}
                                            {% endif %}

                                          <a class="btn  {{ disabled }} btn-success" href="{{ url_for('mod_dashboard.serve', type="output", job_no=job.id) }}"><i class="fa fa-download" aria-hidden="true"></i></a>
                                          <a type="button" class="btn  {{ disabled }} btn-dark" href="{{ url_for('mod_dashboard.serve', type="output", job_no=job.id, view="view") }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            {% if job.status.value != "pending" %}
                                                {% set disabled = "" %}
                                            {% else %}
                                                {% set disabled = "disabled" %}
                                            {% endif %}
                                          <a class="btn {{ disabled }} btn-success" href="{{ url_for('mod_dashboard.serve', type="log", job_no=job.id) }}"><i class="fa fa-download" aria-hidden="true"></i></a>
                                          <a type="button" class="btn {{ disabled }} btn-dark" href="{{ url_for('mod_dashboard.serve', type="log", job_no=job.id, view="view") }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $("#dataTable").DataTable({
                order: [[0, 'desc']]
            })
        });
    </script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
{% endblock %}
