{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-spinner"></i> Recent Queue</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 my-auto">
                            {% for job in details.queue[:5] %}

                                {% if job.status.value == 'completed' %}
                                    {%  set icon = '<i class="fa fa-check-square" style="color: green;"></i>' %}
                                    {%  set bgcol = '#aeffb12e' %}
                                    {%  set d_url = 'serve/output/' ~  job.id  %}

                                {% elif job.status.value == 'error' %}
                                    {%  set icon = '<i class="fa fa-warning" style="color: red;"></i>' %}
                                    {%  set bgcol = '#ffaebc2e' %}
                                    {%  set d_url = '' %}

                                {% else %}
                                    {%  set icon = '<i class="fa fa-clock-o" style="color: #f8c246;"></i>' %}
                                    {%  set bgcol = '#fff1743d' %}
                                    {%  set d_url = '' %}
                                {% endif %}

                                <div style="background-color: {{ bgcol }};">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <a class="list-group-item-action" href="{{ d_url }}">
                                                <div class="media">
                                                    <div class="media-body">
                                                        {{ icon|safe }} <strong> {{ job.original_filename|truncate(20, True) }}</strong> <span class="text-muted smaller">(Job # {{ job.id }}) </span>
                                                        <div class="text-muted smaller">Status: {{ job.status.value }} | Added {{ job.queue_timestamp|timesince }} {% if details.admin_dashboard %} by user: {{ job.added_by_user }} {% endif %}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="list-group-item-action" href="{{ d_url }}">
                                                <div class="media float-right text-right">
                                                    <div class="text-muted medium">
                                                       {% if job.status.value == 'completed' %}
                                                           <div>
                                                            Output(
                                                            <a href="serve/output/{{job.id}}" download><i class="fa fa-download"></i></a> ,
                                                            <a href="serve/output/{{job.id}}/view"><i class="fa fa-eye"></i></a>)
                                                           </div>
                                                        {% endif %}

                                                        {% if job.status.value != 'pending' %}
                                                            <div>
                                                            Logs (
                                                            <a href="serve/log/{{job.id}}" download><i class="fa fa-download"></i></a> ,
                                                            <a href="serve/log/{{job.id}}/view"><i class="fa fa-eye"></i></a>)
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                    <div class="col-sm-2 text-center my-auto">
                        <div class="h4 mb-0 text-success">{{ details.processed_files|length }}</div>
                        <div class="small text-muted">Processed</div>
                        <hr>
                        <div class="h4 mb-0 text-warning">{{ details.queued_files|length }}</div>
                        <div class="small text-muted">Queued</div>
                        <hr>
                        <div class="h5 mb-0 text-danger">{{ details.errored_files|length }}</div>
                        <div class="small text-muted">Failed</div>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated {{ layout['curr_time']|timesince }}</div>
        </div>
    </div>
    <div class="col-lg-4">
    {%- include 'mod_dashboard/profile-box.html' -%}
    </div>
</div>
{% endblock %}
