{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-history"></i> Recently Uploaded Files</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 my-auto">
                        {% for file in details.uploaded_files[:5] %}
                            <div class="row">
                                <div class="col-lg-8">
                                    <a class="list-group-item-action" href="{{ d_url }}">
                                        <div class="media">
                                            <div class="media-body">
                                                <strong> {{ file.original_name|truncate(40, True) }}</strong>
                                                <div class="text-muted smaller">Hash: {{ file.hash|truncate(40, True)}} </div>
                                                <div class="text-muted smaller">({{ (file.size|int)/1000000 }} MB)  | Uploaded {{ file.upload_timestamp|timesince }} {% if details.admin_dashboard %} by user: {{ file.original_uploader }} {% endif %}</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-lg-2">
                                    <div class="btn-group btn-group-sm" role="group">
                                      <a class="btn btn-outline-dark" href="{{ url_for('mod_dashboard.new_job', filename=file.filename) }}">New Job</a>
                                      <a type="button" class="btn btn-outline-danger" href="{{ url_for('mod_dashboard.delete', filename=file.filename) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-2 text-center my-auto">
                        <div class="h4 mb-0 text-warning">{{ details.uploaded_files|length }}</div>
                        <div class="small text-muted">Uploaded</div>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>

    {% if details.kvm_enabled %}
    <div class="col-lg-4">
        <div class="mb-3">
        {% include 'mod_kvm/kvm-status.html' %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
