{% extends "layout.html" %}

{% block body %}
    <div class="">
        <div class="">
            <p>Upload File</p>
        </div>
    </div>
    <form method="post" name="uploadForm" id="uploadForm" enctype=multipart/form-data action="{{ url_for('.dashboard', next=next) }}">
        {{ form.csrf_token }}
        {{ macros.display_flash_messages() }}

        <div class="">
            <div class="">
                {{ macros.render_field(form.file) }}
            </div>
            <div class="">
                {{ macros.render_field(form.parameters) }}
            </div>
            <div class="">
                {{ macros.render_field(form.ccextractor_version) }}
            </div>
            <div class="">
                {{ macros.render_field(form.platforms) }}
            </div>
            <div class="">
                {{ macros.render_field(form.start_processing) }}
            </div>
            <div class="">
                {{ macros.render_field(form.remark) }}
            </div>
            <div class="">
                {{ macros.render_field(form.submit) }}
            </div>
        </div>

        {% for job in queued_files %}
            {{ job.id }} | {{ job.status.value }} | {{ job.filename }} <br>
        {% endfor %}
        </div>
    </form>
{% endblock %}
