{% block body %}
    <div class="">
        <div class="">
            <p>Uploaded Files</p>
        </div>
    </div>

    {% for file in uploaded_files %}
        <div class="">
            {{ file.original_name }} | {{ file.filename }} | {{   (file.size|int)/1000000 }} MB | {{ file.status }} <a href="new/{{ file.filename }}">New Job</a> | <a href="delete/{{ file.filename }}">Delete</a>
           <!-- <button id="dlt-btn" filename="{{ file.filename }}">Delete</button> -->
        <br>
        </div>
    {% endfor %}

    {% block scripts %}

        <!--
        <script>
            var delete_buttons = document.querySelectorAll("button[filename]");

            delete_buttons.forEach(function(btn) {
                btn.addEventListener("click", function() {

                    var filename = btn.getAttribute("filename");
                    console.log(btn)
                    console.log(filename)

                    console.log("lol")

                    delete_file(filename)

                    function delete_file(filename) {
                        var req = new XMLHttpRequest();
                        req.open('GET', 'delete/' + filename);
                        req.onload = function () {
                            if (req.status >= 200 && req.status < 400) {
                                var resp = JSON.parse(req.responseText);
                                console.log(resp);
                            }
                        }
                        req.send();
                    }
                });
            });
        </script>
        -->

    {% endblock %}
{% endblock %}




