{% extends "layout.html" %}

{% block body %}
    {{ super() }}


    <div class="">
        <div class="">
            <p>Complete Signup</p>
        </div>
    </div>

    <span>
        <p> Signing up using email : {{ email }}</p>
    </span>
    <form method="post" name="registrationForm" id="registrationForm">
        {{ form.csrf_token }}

        <div class="">
            <div class="medium-12 columns">
                {{ macros.render_field(form.name) }}
            </div>
            <div class="medium-6 columns">
                {{ macros.render_field(form.password) }}
            </div>
            <div class="medium-6 columns">
                {{ macros.render_field(form.password_repeat) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.submit) }}
            </div>
             <div class="medium-12 columns">
                <p>Existing account? <a href="{{ url_for('.login') }}">Log in here</a>.</p>
            </div>
        </div>
    </form>

{% endblock %}
