<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script>
</head>

<body>
 Params
  <input type="text" name="names" id="autocomplete1"/>

  Songs:
  <input type="text" name="songs" id="autocomplete2"/>
  <input type="text" name="songs" id="autocomplete3"/>

  <p id="lol"></p>
  <p id="wow"></p>


    <script>
        var commands = null;

        /*

        async function getData() {
            try {
                return await $.getJSON("http://127.0.0.1:5000/static/commands.json").promise();
            }
            catch (error) {
                console.log("error" + error);
            }
            finally {
                console.log('done');
            }
        }

        getData().then((data) => console.log(data));


        function assignCommands(data) {
            commands = data;
        }

        console.log(commands);

        */

        /*

        $.getJSON( "http://127.0.0.1:5000/static/commands.json", function( data ) {
            var data_arr = data.suggestions.map(function(val){
                return val.name;
            })
            auto(data_arr)
        });

        function auto(data_arr){
            $('#autocomplete3').autocomplete({
                source: data_arr,

                appendTo:$('#wow'),

                onSearchComplete: function (query, suggestions) {
                    console.log(query);
                }
            });
        }

        */

        /*
        $.ajax({
            url:"http://127.0.0.1:5000/static/commands.json",
            dataType : 'json',
            async : false,
            success : function(data){
                assignCommands(data);
            }
        });

        function assignCommands(json) {
            commands = json;
        };

        console.log(commands);

        */

        $.getJSON( "http://127.0.0.1:5000/static/commands.json", function(json) {
            console.log(json['suggestions'])
            $('#autocomplete3').autocomplete({
                lookup: json['suggestions'],

                appendTo:$('#wow'),

                formatResult : function (suggestion, currentValue) {
                console.log(suggestion);
                            console.log(currentValue);

                },


                onSelect: function (suggestion) {
                var p = document.querySelector('p');
                p.innerHTML += suggestion.value;
                console.log(suggestion);
                },

                onSearchComplete: function (query, suggestions) {
                }
            });
        });

        /*
        $.getJSON("http://127.0.0.1:5000/static/commands.json", function(json) {
            assignCommands(json);
            console.log(json); //prints JSON
        });

        function assignCommands(json) {
            commands = json;
            console.log(commands); //prints JSON
        };

        console.log(commands); //prints null ?!?!??!?!?!?!?!? wtf!


        /*



        function loadJSON() {
            var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
            xobj.open('GET', '{{ url_for('static', filename='commands.json') }}', true); // Replace 'my_data' with the path to your file
            xobj.onreadystatechange = function () {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                    commands = xobj.responseText;
                            console.log(commands);

                }
            };
            xobj.send(null);
        }

        loadJSON();
        console.log(commands);


        */

        $('#autocomplete1').autocomplete({
            lookup: [{'value':'value'}],

            appendTo:$('#wow'),

            formatResult : function (suggestion, currentValue) {
            console.log(suggestion);
                        console.log(currentValue);

            },


            onSelect: function (suggestion) {
            var p = document.querySelector('p');
            p.innerHTML += suggestion.value;
            console.log(suggestion);
            },

            onSearchComplete: function (query, suggestions) {
            console.log(query);
            console.log(suggestions);
            }
        });

        $('#autocomplete2').autocomplete({
            serviceUrl: 'http://127.0.0.1:5000/static/commands.json',

            dataType: 'json',

            formatResult : function (suggestion, currentValue) {
            console.log(suggestion);
            },

            appendTo:$('#wow'),

            onSearchComplete: function (query, suggestions) {
            console.log(query);
            }
        });
    </script>
</body>
