<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Platform Status</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#">Toggle KVM Status</a>
            </li>
            -->
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title"> KVM Live Status </h5>

        <p class="card-text">Plaform Status</p>
        <div class="row">
            {% for vm in details.kvm %}
            <div class="col-sm-4 text-center my-auto" style="padding-left: 0px; padding-right: 0px;">
                    {% if vm.status.value == 'running' %}
                        <div class="h4 mb-0 text-success">
                    {% else%}
                        <div class="h4 mb-0 text-danger">
                    {% endif %}
                            {{ vm.name }}
                        </div>
                    <div class="small text-muted">({{ vm.status.value }})</div>

                    {%  if details.admin_dashboard %}
                    <span class="small text-muted" style="padding-top: 10px; padding-bottom: 10px;">
                        <a href="{{ url_for('mod_kvm.check_kvm_status', kvm_name=vm.name) }}"><i class="fa fa-refresh" style="color:#007bff; font-size: 1.5em;" aria-hidden="true" title="Refresh"></i></a>
                    </span>

                            <div class="small text-muted" style="padding-top: 10px; padding-bottom: 10px;">
                                {% if vm.status.value == 'running' %}
                                    <a href="{{ url_for('mod_kvm.kvm_cmd', cmd='shutdown', kvm_name=vm.name) }}"><i class="fa fa-power-off" style="color:#dc3545; font-size: 1.5em;" aria-hidden="true" title="Shutdown"></i></a>
                                    <a href="{{ url_for('mod_kvm.kvm_cmd', cmd='maintain', kvm_name=vm.name) }}"><i class="fa fa-wrench" style="color:#ffc107; font-size: 1.5em;" aria-hidden="true" title="Maintain"></i></a>
                                    <a href="{{ url_for('mod_kvm.kvm_cmd', cmd='stop', kvm_name=vm.name) }}"><i class="fa fa-stop-circle" style="color:#dc3545; font-size: 1.5em;" aria-hidden="true" title="Halt"></i></a>

                                {% elif vm.status.value == 'stopped' or  vm.status.value == 'rebooting'%}
                                    <a href="{{ url_for('mod_kvm.kvm_cmd', cmd='start', kvm_name=vm.name) }}"><i class="fa fa-play-circle" style="color:#28a745; font-size: 1.5em;" aria-hidden="true" title="Start"></i></a>

                                {% elif vm.status.value == 'maintainance'%}
                                    <a href="{{ url_for('mod_kvm.kvm_cmd', cmd='resume', kvm_name=vm.name) }}"><i class="fa fa-refresh" style="color:#28a745; font-size: 1.5em;" aria-hidden="true" title="Resume"></i></a>
                                {% endif %}
                            </div>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
