<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Platform Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Toggle KVM Status</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">KVM Live Status</h5>
        <p class="card-text">Platform status</p>
        <div class="row">
            {% for vm in details.kvm %}
            <div class="col-sm-4 text-center my-auto">
                    {% if vm.status.value == 'running' %}
                        <div class="h4 mb-0 text-success">
                    {% else%}
                        <div class="h4 mb-0 text-danger">
                    {% endif %}
                            {{ vm.name }}
                        </div>
                    <div class="small text-muted">{{ vm.status.value }}</div>
                    <hr>
            </div>
            {% endfor %}
        </div>

        <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
